<div style="background-color:white; opacity:0.8; border-radius:5px; padding:5px;" data-id="{{project.id}}" class="col-md-6">
    <ul style="list-style-type: none;">
      <li><h4>Project:<strong> {{project.title}}</strong></h4></li>
      <li class="desc"><p><strong>Project Description:</strong> {{project.body}}</p></li>
    </ul>
   </div>
   <br>
   <br>
   <br>
